// form

.form-control-cursor{
    cursor: pointer;
}
.form-control-border-none{
    border: none;
}
.form-button-marginTop{
    margin-top : 1.9rem;
}

.form-padding-left-2 {
    padding-left: 2rem !important;
}
.form-padding-left-1 {
    padding-left: 1rem !important;
}
.form-padding-right-0 {
    padding-left: 0em;
}
.form-tag-del-15{
    font-size : 15px !important ;
}

.form-tag-del-btn {
    font-size: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 3px;
    color: #777;
    padding-left: 0px;
}

.form-input-left-margin{
    margin-left: 15px;
}

.form-absolute{
    position: absolute !important;
}

.border-none{
    border: 0px;
}


// modal
.modal-scroll {
    max-height : 'calc(100vh - 210px)';
    overflow-y : 'auto';
}


