// form

.form-control-cursor{
    cursor: pointer;
}
.form-control-border-none{
    border: none;
}
.form-button-marginTop{
    margin-top : 1.9rem;
}

.form-padding-left-2 {
    padding-left: 2rem !important;
}
.form-padding-left-1 {
    padding-left: 1rem !important;
}
.form-padding-right-0 {
    padding-left: 0em;
}
.form-tag-del-15{
    font-size : 15px !important ;
}

.form-tag-del-btn {
    font-size: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 3px;
    color: #777;
    padding-left: 0px;
}

.form-input-left-margin{
    margin-left: 15px;
}

.form-absolute{
    position: absolute !important;
}

.border-none{
    border: 0px;
}
.form-input-margin{
    margin-top : -0.4rem !important;
}

// chat

.chat-left-margin {
    margin-left: 15px !important
}
.chat-right-margin {
    margin-right: 15px !important
}
.chat-recv{
    max-width: 48%;
    color: #fff;
    background-color: #7889e8;
    border-color: #7889e8; 
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.375rem;
}
.chat-send{
    max-width: 48%;
    margin-right: 3px;
    color: #fff;
    background-color: #fc7c5f;
    border-color: #fc7c5f;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.375rem;
}
.chat-hr{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
// modal
.modal-scroll {
    max-height : 'calc(100vh - 210px)';
    overflow-y : 'auto';
}

.modal-center {
    display: flex !important;
    align-items: center !important;
}
